
// -------------------
// Process parameters
// -------------------

process {
    conda = '/home/BCRICWH.LAN/Derek.Tam/miniconda3/envs/build-control-cohort'
    executor = 'slurm'
    queue = 'defq'
}

executor {
    name = 'slurm'
    queueSize = 20
}

// -----
// Conda
// -----

conda {
    enabled = true
    cacheDir = ".env"
}

// ---------
// Reporting
// ---------

report {
    enabled = true
    file = 'reports/build-vcf-report.html'
}

timeline {
    enabled = true
    file = 'reports/build-vcf-timeline.html'
}

// ------
// Parameters
// ------

params {
    pub_dir = 'OUTPUT_DIR'
    sample_annotation = 'example_annotation.tsv'
    vcf_dir = 'VCF_DIR'
}

